body {
    background-color: #F5F3F4;
    color: #0B090A;
    font-family: 'Roboto Slab', serif;
}
#nav_nav {
    background-color: #D3D3D3;
    border-radius: 0;
    border: 0;
}
.navbar-header a:hover, .navbar-header a:focus{
    text-decoration: none;
}
.navbar-brand{
    margin-bottom: 15px;
}
.navbar-brand h1{
    position: relative;
    margin: 0;
    padding: 0;
    width: auto;
}
.navbar-default .navbar-brand {
    color: #0B090A;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #D3D3D3;
}
#nav-list{
    margin-top: 5px;
}
#nav-list a {
    color: #0B090A;
    text-align: center;
}
#nav-list a:hover{
    background-color: #F5F3F4;
}
.section_content{
    border-radius: 1px;
    background-color: #D3D3D3;
    padding: 0 2.5px 0;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid #0B090A
}